In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [2]:
stud_data = pd.read_csv("raw/online_course_engagement_data.csv")

In [3]:
stud_data.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0

In [58]:
stud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 9000 non-null   int64
 1   CourseCategory         9000 non-null   object
 2   TimeSpentOnCourse      9000 non-null   float64
 3   NumberOfVideosWatched  9000 non-null   int64
 4   NumberOfQuizzesTaken   9000 non-null   int64
 5   QuizScores             9000 non-null   float64
 6   CompletionRate         9000 non-null   float64
 7   DeviceType             9000 non-null   int64
 8   CourseCompletion       9000 non-null   int64
dtypes: float64(3), int64(5), object(1)
memory usage: 632.9+ KB

In [59]:
stud_data.describe()

,UserID,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,4498.894556,50.163822,10.024667,5.090556,74.706028,50.340146,0.500667,0.396444
std,2596.849433,28.491750,6.029878,3.157762,14.378383,28.950977,0.500027,0.489186
min,1.000000,1.005230,0.000000,0.000000,50.005119,0.009327,0.000000,0.000000
25%,2251.750000,25.440548,5.000000,2.000000,62.283451,25.653614,0.000000,0.000000
50%,4483.500000,49.818417,10.000000,5.000000,74.743294,50.264124,1.000000,0.000000
75%,6751.250000,75.069924,15.000000,8.000000,87.022663,75.572493,1.000000,1.000000
max,9000.000000,99.992558,20.000000,10.000000,99.994984,99.979711,1.000000,1.000000

In [60]:
 stud_data.sample(10)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
6021,803,Science,16.221182,3,5,68.864807,85.929448,0,0
5668,5590,Health,42.567089,4,2,53.278826,38.373277,0,0
3846,4954,Health,27.666335,10,9,69.961393,80.174725,1,1
638,7773,Health,99.828629,5,0,87.953921,68.052048,0,0
5690,5076,Health,21.732562,19,2,64.614720,66.337674,1,0
8071,7592,Programming,92.696518,6,5,85.252558,18.347439,1,1
4763,593,Health,62.845366,7,9,72.813083,26.865883,1,1
8914,8248,Health,32.889147,3,7,76.606585,54.201995,1,0
6212,2613,Business,77.071593,5,9,63.010303,26.313465,1,0
5623,6689,Programming,30.414599,17,4,59.352859,12.630617,1,0

In [61]:
stud_data.to_csv("csv")

PermissionError: [Errno 13] Permission denied: 'csv'

In [ ]:
stud_data.to_csv("stud_data.csv", index=False)

In [62]:
stud_data.columns

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion'],
      dtype='object')

In [63]:
stud_data.duplicate()

AttributeError: 'DataFrame' object has no attribute 'duplicate'

In [4]:
stud_data["EngagementScore"] = (
    0.3 * stud_data["CompletionRate"] +
    0.3 * stud_data["QuizScores"] +
    0.2 * stud_data["NumberOfQuizzesTaken"] +
    0.2 * stud_data["NumberOfVideosWatched"] +
    0.2 * stud_data["TimeSpentOnCourse"]
)

In [36]:
stud_data.head()

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,EngagementScore,courseCategory
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0,31.363872,2
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0,45.235043,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1,63.245388,0
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1,58.797290,4
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0,56.657358,3

In [ ]:
print(stud_data["EngagementScore"].describe())

In [ ]:
# Plot the distribution of Engagement Score
plt.figure(figsize=(4, 3))
plt.hist(stud_data["EngagementScore"], bins=20, color='blue', edgecolor='black', alpha=0.7)
plt.xlabel("Engagement Score")
plt.ylabel("Frequency")
plt.title("Distribution of Engagement Scores")
plt.show()

In [ ]:
stud_data.sample(10)

In [ ]:
plt.figure(figsize=(5, 3))
sns.scatterplot(x=stud_data["EngagementScore"], y=stud_data["CourseCompletion"])
plt.xlabel("Engagement Score")
plt.ylabel("Course Completion")
plt.title("Engagement Score vs Course Completion")
plt.show()

In [ ]:
# Box Plot
plt.figure(figsize=(5, 3))
sns.boxplot(x=stud_data["CourseCompletion"], y=stud_data["EngagementScore"])
plt.xlabel("Course Completion")
plt.ylabel("Engagement Score")
plt.title("Distribution of Engagement Score by Course Completion")
plt.show()

,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,EngagementScore,courseCategory
5857,Business,67.426496,16,1,96.634906,33.605717,1,55.957486,1
7699,Health,76.150005,2,0,55.086775,88.492514,0,58.703788,2
152,Business,82.166947,14,2,96.608850,40.209751,0,60.678970,1
4857,Business,96.818132,16,0,94.478493,96.924039,0,79.984386,1
5547,Programming,29.067212,7,8,63.262897,96.421457,0,56.718749,3
...,...,...,...,...,...,...,...,...,...
3322,Science,61.602832,14,9,94.069270,59.757155,0,63.068494,4
5183,Science,50.036447,8,1,91.550847,12.026402,1,42.880464,4
4307,Science,33.545853,15,9,65.373198,1.854480,1,31.677474,4
3578,Health,17.777204,5,3,92.378413,30.647729,0,42.063283,2
5735,Science,87.809000,2,8,54.409043,53.032611,0,51.794296,4

In [9]:
X = stud_data.drop(columns=["CourseCompletion"]) 
y = stud_data["CourseCompletion"] 


X = pd.get_dummies(X, drop_first=True)


le = LabelEncoder()
y = le.fit_transform(y)  #


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

print("Model trained successfully!")

Model trained successfully!

In [10]:
y_pred = rf_model.predict(X_test)
accuracy_score(y_test,y_pred)

0.9577777777777777

In [11]:
gb = GradientBoostingClassifier()
svc = SVC()
lr = LogisticRegression()

In [12]:
gb.fit(X_train,y_train)
y1_pred= gb.predict(X_test)
accuracy_score(y_test,y1_pred)

0.9561111111111111

In [13]:
rf_model.feature_importances_

array([0.07380397, 0.10853224, 0.14980212, 0.1841201 , 0.16019147,
       0.14358504, 0.00380727, 0.16440019, 0.00282419, 0.00298149,
       0.00293887, 0.00301304])

In [14]:
feature_importances = pd.DataFrame(
    {"Feature": X.columns, "Importance": rf_model.feature_importances_}
).sort_values(by="Importance", ascending=False)

In [70]:
feature_importances

                       Feature  Importance
3         NumberOfQuizzesTaken    0.184120
7              EngagementScore    0.164400
4                   QuizScores    0.160191
2        NumberOfVideosWatched    0.149802
5               CompletionRate    0.143585
1            TimeSpentOnCourse    0.108532
0                       UserID    0.073804
6                   DeviceType    0.003807
11      CourseCategory_Science    0.003013
9        CourseCategory_Health    0.002981
10  CourseCategory_Programming    0.002939
8      CourseCategory_Business    0.002824

In [16]:

import pandas as pd


feature_columns = [
    'UserID', 'TimeSpentOnCourse', 'NumberOfVideosWatched', 
    'NumberOfQuizzesTaken', 'QuizScores', 'CompletionRate', 
    'DeviceType', 'EngagementScore', 
    'CourseCategory_Business', 'CourseCategory_Health', 
    'CourseCategory_Programming', 'CourseCategory_Science'
]

# Sample input with exactly 12 features
sample_data = pd.DataFrame([[
    12345,  
    35.5,   # TimeSpentOnCourse
    25,     # NumberOfVideosWatched
    8,      # NumberOfQuizzesTaken
    85,     # QuizScores
    0.9,    # CompletionRate
    1,      # DeviceType (Encoded)
    75,     # EngagementScore
    0,      # CourseCategory_Business (One-hot encoded)
    1,      # CourseCategory_Health
    0,      # CourseCategory_Programming
    0       # CourseCategory_Science
]], columns=feature_columns)

# Make prediction
predicted_engagement = rf_model.predict(sample_data)
print(f"Predicted Engagement Level: {predicted_engagement[0]}")

Predicted Engagement Level: 1

In [72]:
print(f"Number of features in training data: {x_train.shape[1]}")

Number of features in training data: 9

In [73]:
print("Features used for training:", X_train.columns.tolist())

Features used for training: ['UserID', 'TimeSpentOnCourse', 'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores', 'CompletionRate', 'DeviceType', 'EngagementScore', 'CourseCategory_Business', 'CourseCategory_Health', 'CourseCategory_Programming', 'CourseCategory_Science']

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200],  # Number of trees in the forest
    'max_depth': [None, 10, 20],     # Maximum depth of trees
    'min_samples_split': [2, 5, 10], # Minimum samples required to split a node
    'min_samples_leaf': [1, 2, 4],   # Minimum samples required at a leaf node
    'criterion': ['gini', 'entropy'] # Splitting criteria
}

# Initialize RandomForest model
rf_model = RandomForestClassifier(random_state=42)

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, 
                           cv=5, n_jobs=-1, scoring='accuracy', verbose=2)

# Fit GridSearchCV on training data
grid_search.fit(X_train, y_train)

# Print best parameters and best accuracy
print(f"✅ Best Parameters: {grid_search.best_params_}")
print(f"✅ Best Accuracy: {grid_search.best_score_:.2f}")

# Get the best model
best_rf_model = grid_search.best_estimator_

# Evaluate on test data
y_pred = best_rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"✅ Test Accuracy with Best Parameters: {accuracy:.2f}")

Fitting 5 folds for each of 162 candidates, totalling 810 fits
✅ Best Parameters: {'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 200}
✅ Best Accuracy: 0.96
✅ Test Accuracy with Best Parameters: 0.96