In [21]:
import pandas as pd 
from pymongo import MongoClient
from sklearn.preprocessing import LabelEncoder

In [4]:
client = MongoClient("mongodb://localhost:27017/")
db = client["student_engagement"]
raw_data_collection = db["raw_data"]
processed_data_collection = db["processed_data"]

In [5]:
raw_data=list(raw_data_collection.find({}, {"_id": 0}))

In [12]:
raw_dataframe = pd.DataFrame(raw_data)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9001 entries, 0 to 9000
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 9000 non-null   float64
 1   CourseCategory         9000 non-null   object
 2   TimeSpentOnCourse      9000 non-null   float64
 3   NumberOfVideosWatched  9000 non-null   float64
 4   NumberOfQuizzesTaken   9000 non-null   float64
 5   QuizScores             9000 non-null   float64
 6   CompletionRate         9000 non-null   float64
 7   DeviceType             9000 non-null   float64
 8   CourseCompletion       9000 non-null   float64
dtypes: float64(8), object(1)
memory usage: 633.0+ KB

In [32]:
def run_etl():
    raw_data=list(raw_data_collection.find({}, {"_id": 0}))
    raw_dataframe = pd.DataFrame(raw_data)
    def calculate_engagement_score(raw_dataframe):
    
        w_time = 0.3  
        w_videos = 0.2  
        w_quizzes = 0.2  
        w_quiz_scores = 0.2  
      

    
        raw_dataframe["EngagementScore"] = (
           (w_time * raw_dataframe["TimeSpentOnCourse"]) +
           (w_videos * raw_dataframe["NumberOfVideosWatched"]) +
           (w_quizzes * raw_dataframe["NumberOfQuizzesTaken"]) +
           (w_quiz_scores * raw_dataframe["QuizScores"]) 
        )
    
        return raw_dataframe
    
    def classify_engagement(raw_dataframe):
        Q1 = raw_dataframe["EngagementScore"].quantile(0.25)
        Q3 = raw_dataframe["EngagementScore"].quantile(0.75)

        def label(score):
            if score < Q1:
              return "Low"
            elif Q1 <= score <= Q3:
              return "Medium"
            else:
              return "High"

        raw_dataframe["EngagementLevel"] = raw_dataframe["EngagementScore"].apply(label)
    
        return raw_dataframe


    def encode_engagement_level(raw_dataframe):
        le = LabelEncoder()
        raw_dataframe["EngagementLevel"] = le.fit_transform(raw_dataframe["EngagementLevel"])  
        return raw_dataframe

    def one_hot_encode_course(raw_dataframe):
        raw_dataframe = pd.get_dummies(raw_dataframe, columns=["CourseCategory"], drop_first=False)
    
    # Convert only newly created one-hot encoded columns to integer
        for col in raw_dataframe.columns:
            if raw_dataframe[col].dtype == 'float64' and raw_dataframe[col].isin([0, 1]).all():
               raw_dataframe[col] = raw_dataframe[col].astype(int)

        return raw_dataframe


#ETL PIPELINE

    raw_dataframe = calculate_engagement_score(raw_dataframe)
    raw_dataframe = classify_engagement(raw_dataframe)
    raw_dataframe = encode_engagement_level(raw_dataframe)
    raw_dataframe = one_hot_encode_course(raw_dataframe)

    print(raw_dataframe.head(5))
    print(raw_dataframe.info())

    processed_data = raw_dataframe.to_dict(orient="records")
    insert_processed_data(processed_data)

    return processed_data

In [33]:
run_etl()

   UserID  TimeSpentOnCourse  NumberOfVideosWatched  NumberOfQuizzesTaken  \
0  5618.0          29.979719                   17.0                   3.0
1  4326.0          27.802640                    1.0                   5.0
2  5849.0          86.820485                   14.0                   2.0
3  4992.0          35.038427                   17.0                  10.0
4  3866.0          92.490647                   16.0                   0.0

   QuizScores  CompletionRate  DeviceType  CourseCompletion  EngagementScore  \
0   50.365656       20.860773         1.0               0.0        23.067047
1   62.615970       65.632415         1.0               0.0        22.063986
2   78.458962       63.812007         1.0               1.0        44.937938
3   59.198853       95.433162         0.0               1.0        27.751299
4   98.428285       18.102478         0.0               0.0        50.632851

   EngagementLevel  CourseCategory_Arts  CourseCategory_Business  \
0                1                False                    False
1                1                 True                    False
2                0                 True                    False
3                2                False                    False
4                0                False                    False

   CourseCategory_Health  CourseCategory_Programming  CourseCategory_Science
0                   True                       False                   False
1                  False                       False                   False
2                  False                       False                   False
3                  False                       False                    True
4                  False                        True                   False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9001 entries, 0 to 9000
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserID                      9000 non-null   float64
 1   TimeSpentOnCourse           9000 non-null   float64
 2   NumberOfVideosWatched       9000 non-null   float64
 3   NumberOfQuizzesTaken        9000 non-null   float64
 4   QuizScores                  9000 non-null   float64
 5   CompletionRate              9000 non-null   float64
 6   DeviceType                  9000 non-null   float64
 7   CourseCompletion            9000 non-null   float64
 8   EngagementScore             9000 non-null   float64
 9   EngagementLevel             9001 non-null   int64
 10  CourseCategory_Arts         9001 non-null   bool
 11  CourseCategory_Business     9001 non-null   bool
 12  CourseCategory_Health       9001 non-null   bool
 13  CourseCategory_Programming  9001 non-null   bool
 14  CourseCategory_Science      9001 non-null   bool
dtypes: bool(5), float64(9), int64(1)
memory usage: 747.3 KB
None

NameError: name 'insert_processed_data' is not defined

In [27]:
raw_dataframe.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618.0,Health,29.979719,17.0,3.0,50.365656,20.860773,1.0,0.0
1,4326.0,Arts,27.802640,1.0,5.0,62.615970,65.632415,1.0,0.0
2,5849.0,Arts,86.820485,14.0,2.0,78.458962,63.812007,1.0,1.0
3,4992.0,Science,35.038427,17.0,10.0,59.198853,95.433162,0.0,1.0
4,3866.0,Programming,92.490647,16.0,0.0,98.428285,18.102478,0.0,0.0